@font-face {
    font-family: "Formula1";
    src: local("Formula1-Regular"),
        url("../../fonts/Formula1-Regular.woff2") format("woff2"),
        url("../../fonts/Froemula1-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formula1";
    src: local("Formula1-Wide"),
        url("../../fonts/Formula1-Wide.woff2") format("woff2"),
        url("../../fonts/Froemula1-Wide.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formula1";
    src: local("Formula1-Bold"),
        url("../../fonts/Formula1-Bold.woff2") format("woff2"),
        url("../../fonts/Froemula1-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Formula1";
}

:root {
    --color-main: #FF1E00;
    --color-text--white: #ffffff;
    --color-clear: rgba(0,0,0,0)
}

.container {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.inactive {
    display: none;
}







.header {
    height: 100px;
    margin-bottom: 25px;
    background-color: var(--color-main);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}
.logo__img {
    height: 100%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav__link {
    color: white;
    font-size: 30px;
    text-decoration: none;
}



.app__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app__head {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
}
.app__head::first-letter {
    text-transform: uppercase;
}

.app__content {
    width: 60%;
}

.app__info {
    width: 40%;
}

.app__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.app__item {
    aspect-ratio: 1/1;
    border: 2px solid var(--color-main);
    border-radius: 10px;
    padding: 10px;
}
.app__img {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: contain;
}

.menu {
    width: 100%;
    margin-bottom: 25px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
}


.table {
    border-collapse: collapse;
    width: 100%;
}


.table__cell {
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

.table__cell--head {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table__row:nth-child(1) {
    background-color: gold;
}

.table__row:nth-child(2) {
    background-color: #A5A8A6;
}

.table__row:nth-child(3) {
    background-color: #cd7f32;
}.table__head .table__row {
    background-color: var(--color-main);
    color: white;
}


.app__info {
    box-sizing: border-box;
    padding: 25px;

}

.info__head {
    margin: 0;
    margin-bottom: 15px;
}

.info > img {
    width: 100%;
    aspect-ratio: 1/1;
}